<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulovecode.modules.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.ulovecode.modules.entity.domain.Score">
    <id column="paper_id" jdbcType="INTEGER" property="paperId" />
    <id column="sno" jdbcType="VARCHAR" property="sno" />
    <result column="ansnum" jdbcType="INTEGER" property="ansnum" />
    <result column="correct" jdbcType="INTEGER" property="correct" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, sno, ansnum, correct, score
  </sql>
  <select id="selectByExample" parameterType="com.ulovecode.modules.entity.domain.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ulovecode.modules.entity.domain.ScoreKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where paper_id = #{paperId,jdbcType=INTEGER}
      and sno = #{sno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ulovecode.modules.entity.domain.ScoreKey">
    delete from score
    where paper_id = #{paperId,jdbcType=INTEGER}
      and sno = #{sno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ulovecode.modules.entity.domain.ScoreExample">
    delete from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ulovecode.modules.entity.domain.Score">
    insert into score (paper_id, sno, ansnum, 
      correct, score)
    values (#{paperId,jdbcType=INTEGER}, #{sno,jdbcType=VARCHAR}, #{ansnum,jdbcType=INTEGER}, 
      #{correct,jdbcType=INTEGER}, #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ulovecode.modules.entity.domain.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="sno != null">
        sno,
      </if>
      <if test="ansnum != null">
        ansnum,
      </if>
      <if test="correct != null">
        correct,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="sno != null">
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="ansnum != null">
        #{ansnum,jdbcType=INTEGER},
      </if>
      <if test="correct != null">
        #{correct,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ulovecode.modules.entity.domain.ScoreExample" resultType="java.lang.Integer">
    select count(*) from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update score
    <set>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=INTEGER},
      </if>
      <if test="record.sno != null">
        sno = #{record.sno,jdbcType=VARCHAR},
      </if>
      <if test="record.ansnum != null">
        ansnum = #{record.ansnum,jdbcType=INTEGER},
      </if>
      <if test="record.correct != null">
        correct = #{record.correct,jdbcType=INTEGER},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update score
    set paper_id = #{record.paperId,jdbcType=INTEGER},
      sno = #{record.sno,jdbcType=VARCHAR},
      ansnum = #{record.ansnum,jdbcType=INTEGER},
      correct = #{record.correct,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ulovecode.modules.entity.domain.Score">
    update score
    <set>
      <if test="ansnum != null">
        ansnum = #{ansnum,jdbcType=INTEGER},
      </if>
      <if test="correct != null">
        correct = #{correct,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=INTEGER}
      and sno = #{sno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ulovecode.modules.entity.domain.Score">
    update score
    set ansnum = #{ansnum,jdbcType=INTEGER},
      correct = #{correct,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER}
    where paper_id = #{paperId,jdbcType=INTEGER}
      and sno = #{sno,jdbcType=VARCHAR}
  </update>
</mapper>